@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import 'variables.css';
@import 'base.css';
@import 'header.css';
@import 'gamification.css';
@import 'projects.css';
@import 'modals.css';
@import 'responsive.css';